.red {
    color:red;
}
.blue {
    color:blue;
}
.green {
    color:green;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
table.sortable tbody tr:nth-child(2n) td {
  background: #ffffff;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #f2f2f2;
}
